*{
  margin: 0;
  padding: 0;
}
.container{
  margin: 40px;
}
header{
  font-size: 14px;
}
header p{
  display: inline;
}
.v-space{
  height: 10px;
}
.h-20{
  height: 20px;
}
.h-30{
  height: 30px;
}
.h-40{
  height: 40px;
}
.h-50{
  height: 50px;
}
.h-100{
  height: 100px;
}
.h-150{
  height: 150px;
}
.right-align{
  text-align: right;
}
.right{
  float: right;
}
.left{
  float: left;
}
.center{
  text-align: center;
}
.f-center{
  float: center;
}
.bold{
  font-weight: bold;
}
.border{
  border: 1px solid #5e5e5e;
}
.sub{
  text-decoration: underline;
}
.p-2{
  padding: 2px;
}
.pl-1{
  padding-left: 5px;
}
.pl-2{
  padding-left: 10px;
}
.pr-2{
  padding-right: 10px;
}
.in-line{
  display: inline;
}
.f-s-10{
  font-size: 10px;  
}
.f-s-12{
  font-size: 12px;
}
.f-s-14{
  font-size: 14px;
}
.f-s-15{
  font-size: 15px;
}
.mt-2{
  margin-top:20px;
}
.ml-2{
  margin-left:20px;
}
.mt-3{
  margin-top:30px;
}
.mb-2{
  margin-bottom:20px;
}
.mb-3{
  margin-bottom:30px;
}

.table{
  width: 100%;
}
.tr-head{
  background-color:#d5d5d5;
  text-align: center;
  height: 50px;
  /* line-height: 1; */
}